[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Katacoda Scenarios
[access "refs/*"]
	owner = group user/achakila
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/achakila
	label-Verified = -1..+1 group user/achakila
	push = group user/achakila
	read = group user/achakila
	rebase = group user/achakila
	removeReviewer = group user/achakila
	submit = group user/achakila
[access "refs/heads/*"]
	create = group user/achakila
	push = +force group user/achakila
	pushMerge = group user/achakila
	read = group user/achakila
[access "refs/tags/*"]
	push = group user/achakila
	push = +force group user/achakila
